<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New post</title>
</head>
<body>
    <form action="/posts" method="post">
        <input type="text" name="username" id="" placeholder="username">
        <p>
            <textarea name="content" id="" placeholder="Ente the content"></textarea>
        </p>
        <button type="submit">Submit</button>
    </form>
   
</body>
</html>